body{
background-color:#202020;
margin:0px;
padding:0px;
}
.text{
color:gray;
font-family:Arial Black;
}
h2{
font-family:Garamond;
color:#606060;
font-size:30px;
}
H3{
color:#808080;
font-family:Arial Black;
font-size:20px;
}
li{
color:#000066;
font-size:20px;
font-family:Arial Black;
}
img{
	align
}
P{
	color:green;
}